.wrapper {
  display: flex;
  background-color: var(--dark-background-color);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 9;
  height: 5rem;
  width: 100%;
  gap: 1.5rem;
  overflow: hidden;
}
.wrapper__title {
  font-style: italic;
  color: var(--primary-color);
  font-size: 2rem;
}

.login-btn {
  color: var(--white-color);
  outline: 0.1rem solid var(--white-color);
  font-size: 1rem;
}
.login-btn > i {
  font-size: 1rem;
  color: var(--white-color);
  margin-right: 0.5rem;
}

.login-btn:hover {
  outline: 0.1rem solid var(--primary-color);
  background-color: unset;
}


@media only screen and (max-width: 34em) {
  .wrapper {
    gap: 1rem;
  }
  .wrapper__title {
    font-size: 1.5rem;
  }
}
